h1{
    text-align: center;
}

img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: mediumaquamarine;
}